.left-transit {
  transition: all 0.15s ease;
  transform: translateX(-750px);
}

.right-transit {
  transition: all 0.15s ease;
  transform: translateX(750px);
}

.calendar-render {
  animation: opacity .3s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
